/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2018, 16:00:32
    Author     : Administrateur
*/
body{
    background-color: #250404; 
}

main {
    background-image: url('img/fond_accueil.jpg'); 
    background-repeat: no-repeat; 
    height: 1080px;
    width: 1920px;
}

footer{
   background-color: #FF5700;
   width: 1920px;
}

td{
    height: 50px;
    width: 50px;
    background-color: white;
}

td:hover{
    background-color: black;
}

input{
    font-size: x-large;
    margin: 10px;
}

li{
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li:hover{
    background-color: black;
    color: white;
}

.contenant{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    font-size: x-large;
}

.contenu{
    background-color: whitesmoke;
    opacity: 0.9;
    width: 300px;
    margin-top: 300px;
    padding: 20px;
    border-style: solid;
    border-radius: 25%;
    text-align: center;
}

.divButtonValidation{
    text-align: center;
}

#pseudo{
    font-size: x-large;
    width: 200px;
}

#formAvatar{
    background-color: whitesmoke;
    opacity: 0.9;
    width: 500px;
    margin-top: 300px;
    padding: 20px;
    border-style: solid;
    border-radius: 25%; 
    text-align: center;
}

.carousel{
    text-align: center;
    
}

li{
    text-align: left;
}
