/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2018, 16:00:32
    Author     : Administrateur
*/
@font-face {
    font-family: arhermann;
    src: url(img/ARHERMANN.ttf);
}

body{
    background-color: #250404;
    font-family: 'arhermann';
    font-size: x-large;
    /*font-style: oblique;*/
}

main {
    background-image: url('img/fond_accueil.jpg'); 
    background-repeat: no-repeat; 
    height: 1080px;
    width: 1920px;
    font-size: x-large;
}

footer{
   background-color: #FF5700;
   width: 1920px;
   font-size: x-large;
}

td:hover{
    background-color: black;
}

input{
    font-size: x-large;
    margin: 10px;
    font-family: 'arhermann';
}

li{
    font-size : x-large;
    border-bottom: 1px solid #ccc;
    list-style: none;
    display: inline-block;
    font-size: x-large;
}

li:last-child {
  border: none;
}

lili:hover{
    background-color: black;
    color: white;
}

.contenant{
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: row;
    font-size: x-large;
}

.contenu{
    background-color: whitesmoke;
    opacity: 0.9;
    width: 300px;
    margin-top: 300px;
    padding: 20px;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    font-size: x-large;
}

.divButtonValidation{
    text-align: center;
    font-size: x-large;
}

#pseudo{
    font-size: x-large;
    width: 200px;
}

#formAvatar{
    background-color: whitesmoke;
    opacity: 0.9;
    width: 500px;
    margin-top: 300px;
    padding: 20px;
    border-style: solid;
    border-radius: 25%; 
    text-align: center;
    font-size: x-large;
}

.carousel{
    margin: 0 auto;
    text-align: center;
}

.carte_1:hover, .carte_2:hover, .carte_3:hover, .carte_4:hover, .carte_5:hover{
    transform: scale(1.2);
}

.carte_1:active, .carte_2:active, .carte_3:active, .carte_4:active, .carte_5:active{
    transform: translateY(-150px);
    z-index: 1;
}