body {
    background-color: #250404;
}
footer {
    color : white;
    text-align: center;
	font-size: 36px;
}
main {
    width: 1920px;
    height: 1080px;
    margin: auto;
}
#tapis {
    position: absolute;
    top: 0px;
    background-image: url('img/fond_tapis.jpg');
    background-size: 1920px 1080px;
    background-repeat : no-repeat;
    width: 1920px;
    height: 1080px;
}

/* CARTES */
.carte_1, .carte_2, .carte_3, .carte_4, .carte_5, .carte_dos {
    background-repeat : no-repeat;  
}
.carte_1 { /* Mandragore */
    background-image: url('../img/cartes/carte_1.png'); 
}
.carte_2 { /* Lapis-lazuli */
    background-image: url('../img/cartes/carte_2.png'); 
}
.carte_3 { /* Licorne */
    background-image: url('../img/cartes/carte_3.png');   
}
.carte_4 { /* Chauve souris */
    background-image: url('../img/cartes/carte_4.png'); 
}
.carte_5 { /* Crapaud */
    background-image: url('../img/cartes/carte_5.png'); 
}
.carte_dos {
    background-image: url('../img/cartes/carte_dos.png');
    width: 100px;
    height: 150px;
    background-size: 100px 150px;
}
.taille_carte_mini {
    width: 100px;
    height: 150px;
    background-size: 100px 150px;     
}
.taille_carte_normal {
    width: 150px;
    height: 225px;
    background-size: 150px 225px;     
}
/* test rotation des cartes de dos des joueurs adverses */
/* sorts */
.sort_invisibilite, .sort_philtre, .sort_hypnose, .sort_divination, .sort_sommeil {
width: 200px;
height: 150px;
margin : auto;
position: absolute;
}
.taille_carte_sort {
width: 100px;
height: 150px;
background-size: 100px 150px; 
display: inline-block;
}
/*
INVISIBILITE: le joueur prend 1 carte(au hasard) chez tous ses adversaires
Ingrédients: corne de licorne (carte_3) + bave de crapaud (carte_5)
*/
.sort_invisibilite {
top : 50px;
right : 20px;
}
/*
PHILTRE D’AMOUR: le joueur de votre choix vous donne la moitié de ses cartes(au hasard). S’il ne possède qu’une carte il a perdu:
Ingrédients: corne de licorne (carte_3) + mandragore (carte_1)
*/
.sort_philtre {
top : 266px;
right : 20px;  
}
/*
HYPNOSE: le joueur échange une carte de son choix contre trois cartes(au hasard) de la victime qu’il choisit
Ingrédients: bave de crapaud (carte_5) + lapis-lazuli (carte_2)
*/
.sort_hypnose {
top : 482px;
right : 20px;  
}
/*
DIVINATION: le joueur peut voir les cartes de tous les autres joueurs
Ingrédients: lapis-lazuli (carte_2) + aile-de chauve-souris (carte_4)
*/
.sort_divination {
top : 698px;
right : 20px;  
}
/*
SOMMEIL-PROFOND: le joueur choisit une victime qui ne pourra pas lancer de sorts pendant 2 tours
Ingrédients: mandragore (carte_1) + aile de chauve-souris (carte_4)
*/
.sort_sommeil {
top : 914px;
right : 20px;   
}

/* AVATARS */
.avatar_1, .avatar_2, .avatar_3, .avatar_4, .avatar_5, .avatar_6, .avatar_7, .avatar_8 {
    background-repeat : no-repeat;  
}
.avatar_1 { background-image: url('../img/avatars/avatar_1.png'); }
.avatar_2 { background-image: url('../img/avatars/avatar_2.png'); }
.avatar_3 { background-image: url('../img/avatars/avatar_3.png'); }
.avatar_4 { background-image: url('../img/avatars/avatar_4.png'); }
.avatar_5 { background-image: url('../img/avatars/avatar_5.png'); }
.avatar_6 { background-image: url('../img/avatars/avatar_6.png'); }
.avatar_7 { background-image: url('../img/avatars/avatar_7.png'); }
.avatar_8 { background-image: url('../img/avatars/avatar_8.png'); }

.avatar_joueur {
    background-size: 200px 300px;
    position: absolute;
    background-repeat : no-repeat;
    width: 200px;
    height: 300px;
    top : 780px;
    left : 220px; 
}

.avatar_joueur_adverse_1, .avatar_joueur_adverse_2, .avatar_joueur_adverse_3, .avatar_joueur_adverse_4 {
    background-size: 150px 200px;
    position: absolute;
    background-repeat : no-repeat;
    width: 150px;
    height: 200px;
    top : 20px;
}
.avatar_joueur_adverse_1 { left : 130px; }
.avatar_joueur_adverse_2 { left : 545px; }
.avatar_joueur_adverse_3 { left : 960px; }
.avatar_joueur_adverse_4 { left : 1375px; }


/* Positionnement des cartes des joueurs adverses */

.cartes_joueur_adverse {
    width: 400px;
    height: 160px;
    list-style-type: none;
    font-size: 40px;

}
.cartes_joueur_adverse li {
    width: 100px;
    height: 150px;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;   
}

.joueur_adverse_1 { left : 0px;    }
.joueur_adverse_2 { left : 400px;  }
.joueur_adverse_3 { left : 800px;  }
.joueur_adverse_4 { left : 1200px; }

/* Positionnement des cartes dujoueur */

.cartes_joueur {
    width: 400px;
    height: 160px;
    left : 500px;
    list-style-type: none;
    font-size: 40px;

}
.cartes_joueur li {
    width: 150px;
    height: 225px;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    
    
}



